body {
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: normal;
}

main {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

section {
  height: 300px;
  overflow: scroll;
  padding: 25px 25px 0 25px;
}

section br {
  clear: both;
}

.message {
  max-width: 250px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
}
section p:after {
  content: '';
  display: table;
  clear: both;
}

p {
  margin: 0px;
}

p:nth-of-type(odd) {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0b93f6;
  border-radius: 25px;
  float: right;
}

p:nth-of-type(odd):before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0b93f6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

p:nth-of-type(odd):after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

p:nth-of-type(even) {
  position: relative;
  padding: 10px 20px;
  background: #e5e5ea;
  border-radius: 25px;
  color: black;
  float: left;
}

p:nth-of-type(even):before {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #e5e5ea;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

p:nth-of-type(even):after {
  content: '';
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

form {
  text-align: center;
  display: flex;
  width: 100%;
  margin: auto;
}

form div:first-child {
  flex: 1;
  padding: 5px;
  margin: 5px;
}

form div:nth-child(2) {
  display: flex;
  margin: 5px;
}

button {
  border: none;
  color: #0a93f6;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
}

input {
  width: 100%;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  padding: 5px;
}
