body {
  background-color: white;
  color: #303030;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  margin: 20px;
}

main {
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 3px 3px 12px #c8c8c8;
  margin: 20px auto;
  max-width: 450px;
  padding: 20px;
}

ol {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}

li {
  padding: 10px;
}

li:nth-child(odd) {
  background-color: #e3e3e3;
  border-radius: 6px;
}

form {
  background-color: lightsteelblue;
  border-radius: 6px;
  margin: 0;
  padding: 10px;
}

button {
  background-color: cornflowerblue;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  text-transform: uppercase;
}

input {
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
}

#initials {
  width: 40px;
}

#message {
  width: 315px;
}
